 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    } 
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: #123;
}
.container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}
.container h2{
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 1px;
}
.container input{
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    border: 2px solid darkred;
    border-radius: 8px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
button{
    border: 0;
    outline: 0;
    padding: 10px 12px;
    letter-spacing: 2px;
    background: darkred;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
}